/* Google Font (Modern Look) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: hsl(216, 45%, 98%);
  color: #1b1b1b;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #002f6c;
  padding: 15px 50px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.nav-links a:hover {
  border-bottom: 2px solid #f5c400;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to bottom right, #002f6c, #003f8c);
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 12px 25px;
  background: #f5c400;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

/* FEATURES SECTION */
.section {
  padding: 50px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #002f6c;
  color: white;
  margin-top: 50px;
}
